/* 
@charset "utf-8";

div.sub_inner hr, div.sub_inner legend {position:inherit; left:inherit; top:inherit; width:inherit; height:inherit; font-size:inherit; line-height:inherit; overflow:inherit;}
div.sub_inner ol, div.sub_inner ul{padding-left:40px;margin:12px 0;}
div.sub_inner ol, div.sub_inner ul, div.sub_inner li{list-style:inherit;}
div.sub_inner h1 {font-size: 2em;}
div.sub_inner h1, div.sub_inner h2, div.sub_inner h3, div.sub_inner h4, div.sub_inner h5, div.sub_inner h6{margin:15px 0;}
div.sub_inner i, div.sub_inner em, div.sub_inner address {font-style: italic;}
div.sub_inner .boardTop legend, div.sub_inner .loginBox legend {display:none;}
div.sub_inner ul.webzine_type, div.sub_inner ul.gallery_type, div.sub_inner ul.gallery_type3, div.sub_inner ul.loginForm{padding-left:0px;}
.loginBox ul.loginForm li.last{list-style:none;}
div.sub_inner ul.gallery_type li{list-style:none;}
div.sub_inner ul.gallery_type3 li{list-style:none;} */